



<div class="card text-bg-dark">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsku4-HNksO7bW2yJospXRtdjZMM9NBZfUtg&usqp=CAU" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h5 class="text-center fw-bold fst-italic" style="font-size: 30px">Welcome to the Hybrid Library!</h5>
        
    </div>
</div>



@code {

}
