@page "/User"

<h3>User</h3>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="row">
            <a class="btn btn-primary btn-lg" href="/User/CreateAccount" role="button">Create account</a>
        </div>
        <div class="row">
            <a class="btn btn-primary btn-lg" href="/Books" role="button">See all Books</a>
        </div>

    </div>
</div>

@code {

}
