@page "/Administrator"

<h3>Administrator</h3>

<div class="container text-center">
    <div class="row align-items-start">
        <div class="row">
            <a class="btn btn-primary btn-lg" href="/Administrator/CreateBook" role="button">Add Book</a>
        </div>
        <div class="row">
            <a class="btn btn-primary btn-lg" href="/AllUsers" role="button">See all Users</a>
        </div>
        <div class="row">
            <a class="btn btn-primary btn-lg" href="/AllOrders" role="button">See all Orders</a>
        </div>

    </div>
</div>

@code {

}
